<h1>プロフィール</h1>
<dl>
  <dt><%= User.human_attribute_name(:email) %></dt>
  <dd><%= @user.email %></dd>
  <dt><%= User.human_attribute_name(:zipcode) %></dt>
  <dd><%= @user.zipcode %></dd>
  <dt><%= User.human_attribute_name(:address) %></dt>
  <dd><%= @user.address %></dd>
  <dt><%= User.human_attribute_name(:profile) %></dt>
  <dd><%= @user.profile %></dd>
  <dt><%= User.human_attribute_name(:avatar) %></dt>
  <dd><%= image_tag @user.avatar.variant(resize: "100x100").processed if @user.avatar.attached? %></dd>
</dl>
