<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.report.title') %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.report.body') %></strong>
  <%= @report.body %>
</p>

<% if @report.user == current_user %>
  <%= link_to t('activerecord.attributes.report.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('activerecord.attributes.report.back'), reports_path %>

<%= render partial: "comments/comments", locals: {commentable: @report} %>
<%= render partial: "comments/form", locals: {commentable: @report} %>
