<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @report.body %>
</p>

<% if @report.user == current_user.id %>
  <%= link_to 'Edit', edit_report_path(@report) %> |
<% end %>
<%= link_to 'Back', reports_path %>

<%= render partial: "comments/comments", locals: {commentable: @report} %>
<%= render partial: "comments/form", locals: {commentable: @report} %>
