<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= link_to_if params[:locale].present?, '日本語', url_for(controller: controller.controller_name, action: controller.action_name, locale: '') %>
    <%= link_to_if params[:locale] != 'en', 'English', url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %>

    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to t("menu.home"), root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("menu.user"), users_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("menu.edit"), edit_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("menu.logout"), destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
